<div class='consult__inner'>
    <h2 class="consult__title display2">Реализуем <i>проект</i> любой стилистики и сложности</h2>
    <div class="consult__desc">Наш архитектор свяжется с вами для уточнения ваших пожеланий и деталей проекта</div>
    <form action="" class="consult__form">
        <fieldset class='form-group'>
            <input type='text' placeholder="Имя" />
        </fieldset>
        <fieldset class='form-group'>
            <input type='text' placeholder="Телефон*" />
        </fieldset>
        <div class="consult__form-hint">
            Отправляя форму, вы принимаете <a href="">соглашение</a>
        </div>
        <button class="consult__form-btn btn btn-black">Заказать звонок</button>
    </form>
</div>