<footer class='footer'>
    <div class='container'>
        <div class='footer__inner'>
            <div class="footer__left">
                <div class="footer__by">Архитектурное бюро Arxy, 2007–2022</div>
                <div class="footer__address">Москва, улица Южнопортовая, д.5, стр. 1. Бизнес центр «Золотое кольцо»</div>
            </div>
            <div class="footer__right">
                <div class="footer__time">Ежедневно с 9:00 до 21:00</div>
                <a href="+74951056766" class="footer__phone">+7 495 105-67-66</a>
                <a href="mailto:info@arxy.ru" class="footer__mail">info@arxy.ru</a>
                <div class="footer__socials">
                    <a href="" class="footer__socials-item">
                        <img src="img/vk.svg" alt="">
                    </a>
                    <a href="" class="footer__socials-item">
                        <img src="img/youtube.svg" alt="">
                    </a>
                    <a href="" class="footer__socials-item">
                        <img src="img/pinterest.svg" alt="">
                    </a>
                    <a href="" class="footer__socials-item footer__socials-item--dzen">
                        <img src="img/dzen.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id='modal' class='modal fade' role='dialog'>
    <div class='modal-dialog'>
        <button type='button' class='modal__close' data-bs-dismiss='modal'>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="14.1445" y1="1.41397" x2="1.41661" y2="14.1419" stroke="black" stroke-width="2" stroke-linecap="round"/>
                <line x1="13.7293" y1="14.1418" x2="1.00142" y2="1.41392" stroke="black" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </button>
        <div class="modal__title display2">Закажите звонок</div>
        <div class="modal__desc">Наш архитектор свяжется с вами для уточнения ваших пожеланий и деталей проекта</div>
        <form action="" class="modal__form">
            <fieldset class='form-group'>
                <input type='text' placeholder="Имя" />
            </fieldset>
            <fieldset class='form-group'>
                <input type='tel' inputmode="tel" placeholder="Телефон*" />
            </fieldset>
            <fieldset class='form-group'>
                <input type='text' placeholder="Когда удобно связаться" />
            </fieldset>
            <div class="modal__form-hint">
                Отправляя форму, вы принимаете <a href="">соглашение</a>
            </div>
            <button class="modal__form-btn btn btn-black">Заказать звонок</button>
        </form>
    </div>
</div>

<!-- <div class="modal-backdrop show"></div> -->