<header class='header'>
    <div class='container'>
        <div class='header__inner'>
            <a href="" class="header__logo">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="header__right">
                <span class="header__time">Ежедневно с 9:00 до 21:00</span>
                <a href="mailto:info@arxy.ru" class="header__email">info@arxy.ru</a>
                <a href="tel:+74951056766" class="header__phone">+7 495 105-67-66</a> @@include('_button.html',{"class":"header__btn"})
            </div>
            <button class="header__burger">
                <span></span>
            </button>
        </div>
    </div>
</header>