<div class='container'>
    <div class="projects__top">
        <h2 class="projects__title display2">
            наши <i>комплексные</i> проекты
        </h2>
    </div>
    <div class="projects__groups">
        <div class="projects__group">
            <div class="projects__group-title">Подмосковный дворец</div>
            <div class="projects__slider">
                <div class='swiper-container'>
                    <div class='swiper-wrapper'>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob.webp" media="(max-width: 1200px)" />
                                <img src="img/project.webp" alt="">
                            </picture>
                        </div>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob.webp" media="(max-width: 1200px)" />
                                <img src="img/project2.webp" alt="">
                            </picture>
                        </div>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob.webp" media="(max-width: 1200px)" />
                                <img src="img/project3.webp" alt="">
                            </picture>
                        </div>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob.webp" media="(max-width: 1200px)" />
                                <img src="img/project4.webp" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects__group projects__group--reverse">
            <div class="projects__group-title">Минимализм в Барвихе</div>
            <div class="projects__slider">
                <div class='swiper-container'>
                    <div class='swiper-wrapper'>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob2.webp" media="(max-width: 1200px)" />
                                <img src="img/project5.webp" alt="">
                            </picture>
                        </div>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob2.webp" media="(max-width: 1200px)" />
                                <img src="img/project6.webp" alt="">
                            </picture>
                        </div>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob2.webp" media="(max-width: 1200px)" />
                                <img src="img/project7.webp" alt="">
                            </picture>
                        </div>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob2.webp" media="(max-width: 1200px)" />
                                <img src="img/project8.webp" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="projects__group">
            <div class="projects__group-title">Современный дом в КП Ренессанс парк</div>
            <div class="projects__slider">
                <div class='swiper-container'>
                    <div class='swiper-wrapper'>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob3.webp" media="(max-width: 1200px)" />
                                <img src="img/project9.webp" alt="">
                            </picture>
                        </div>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob3.webp" media="(max-width: 1200px)" />
                                <img src="img/project10.webp" alt="">
                            </picture>
                        </div>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob3.webp" media="(max-width: 1200px)" />
                                <img src="img/project11.webp" alt="">
                            </picture>
                        </div>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob3.webp" media="(max-width: 1200px)" />
                                <img src="img/project12.webp" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects__group projects__group--reverse">
            <div class="projects__group-title">Беседка на Новорижском шоссе</div>
            <div class="projects__slider">
                <div class='swiper-container'>
                    <div class='swiper-wrapper'>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob4.webp" media="(max-width: 1200px)" />
                                <img src="img/project13.webp" alt="">
                            </picture>
                        </div>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob4.webp" media="(max-width: 1200px)" />
                                <img src="img/project14.webp" alt="">
                            </picture>
                        </div>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob4.webp" media="(max-width: 1200px)" />
                                <img src="img/project15.webp" alt="">
                            </picture>
                        </div>
                        <div class='projects__item swiper-slide'>
                            <picture>
                                <source srcset="img/project-mob4.webp" media="(max-width: 1200px)" />
                                <img src="img/project16.webp" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>