<div class="container">
    <h2 class="trust__title display2">Нам доверяют звезды шоу-бизнеса</h2>
    <div class="trust__groups">
        <div class="trust__group">
            <div class="trust__left">
                <div class="trust__slider">
                    <div class='swiper-container'>
                        <div class='swiper-wrapper'>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust.webp" alt="">
                            </div>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust2.webp" alt="">
                            </div>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust3.webp" alt="">
                            </div>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust4.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trust__right">
                <div class="trust__subtitle">Квартира для Полины Гагариной</div>
                <div class="trust__desc">В самой работе над проектом самой сложной задачей оказалось совмещение нового и старого интерьеров. Ремонт делался только для коридора и гостиной, а остальная часть квартиры осталась нетронутой. Было много интересных задач в концепции
                    самого дизайна. Например, совместить в гостиной лёгкий парижский стиль и брутальные акценты.</div>
                <a href="" class="trust__btn btn btn-white-outline">Смотреть отзыв</a>
            </div>
        </div>



        <div class="trust__group">
            <div class="trust__left">
                <div class="trust__slider">
                    <div class='swiper-container'>
                        <div class='swiper-wrapper'>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust5.webp" alt="">
                            </div>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust6.webp" alt="">
                            </div>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust7.webp" alt="">
                            </div>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust8.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trust__right">
                <div class="trust__subtitle">Беседка для Димы Биланы</div>
                <div class="trust__desc">Зона барбекю хорошо сочетается с расположенной рядом альпийской горкой, искусственным водоемом, цветочными клумбами и другими элементами приусадебного интерьера. Помимо эстетической составляющей необходимо обратить внимание ещё на 3 основных
                    фактора: пожарная безопасность, затенение место отдыха, направление ветра.</div>
                <a href="" class="trust__btn btn btn-white-outline">Смотреть отзыв</a>
            </div>
        </div>

        <div class="trust__group">
            <div class="trust__left">
                <div class="trust__slider">
                    <div class='swiper-container'>
                        <div class='swiper-wrapper'>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust9.webp" alt="">
                            </div>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust10.webp" alt="">
                            </div>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust11.webp" alt="">
                            </div>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust12.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trust__right">
                <div class="trust__subtitle">Ландшафтный проект для Нюши</div>
                <div class="trust__desc">Участок принял форму Инь и Янь не случайно. Она идеально вписалась в участок, объединив дом, баню, выход в лес, домик для собак. Форма круга — олицетворяет прочность и идеальность формы, таким и стала центральная лужайка, она визуально
                    увеличила свои объемы вдвое, а этого так не хватало Нюше и ее родителям!</div>
                <a href="" class="trust__btn btn btn-white-outline">Смотреть отзыв</a>
            </div>
        </div>

        <div class="trust__group">
            <div class="trust__left">
                <div class="trust__slider">
                    <div class='swiper-container'>
                        <div class='swiper-wrapper'>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust13.webp" alt="">
                            </div>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust14.webp" alt="">
                            </div>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust15.webp" alt="">
                            </div>
                            <div class="swiper-slide trust__img">
                                <img src="img/trust16.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trust__right">
                <div class="trust__subtitle">Интерьер для Филиппа Киркорова</div>
                <div class="trust__desc">Большая площадь помещения, в котором размещён бассейн, позволила выйти далеко за рамки и наполнить пространство дополнительными зонами. Так, здесь есть где поиграть детям, специально для них есть целая игровая площадка. А взрослым можно
                    устроиться в удобных креслах в мини-кинотеатре. Кроме зала, в здании находится ещё помещения, где по просьбе заказчика мы разместили SPA и комнату для отдыха.</div>
                <a href="" class="trust__btn btn btn-white-outline">Смотреть отзыв</a>
            </div>
        </div>
    </div>
</div>