<div class='container'>
    <div class='work__top'>
        <div class="work__title display2">Работа выполняется точно в <i>срок</i></div>
        <ul class="work__list">
            <li class="work__list-item">Весь процесс декомпозирован на микрозадачи</li>
            <li class="work__list-item">Ведем свой таск-трекер для архитекторов, инженеров, дизайнеров и менеджеров</li>
            <li class="work__list-item">Ежедневно поднимаем статусы по задачам</li>
        </ul>
    </div>

    <div class="work__result">
        <div class="work__result-title">Результаты каждого этапа работ</div>
        <div class="work__result-items">
            <div class="work__item">
                <img class="work__item-mob" src="img/work-mob.webp" alt="">
                <img class="work__item-dekstop" src="img/work.webp" alt="">
                <span class="work__item-title">Архитектурный проект</span>
                <a href="https://drive.google.com/drive/folders/19iDQsExQj0lSbCgL_GIxDD7LQGyfqv7J" target="_blank" class="work__item-btn btn btn-white-outline">Скачать результат</a>
            </div>
            <div class="work__item">
                <img class="work__item-mob" src="img/work-mob2.webp" alt="">
                <img class="work__item-dekstop" src="img/work2.webp" alt="">
                <span class="work__item-title">Инженерный проект</span>
                <a href="https://drive.google.com/drive/folders/1Y149raqQ3Mtk0wGwDX7oUyei2TpWE6Tp" target="_blank" class="work__item-btn btn btn-white-outline">Скачать результат</a>
            </div>
            <div class="work__item">
                <img class="work__item-mob" src="img/work-mob3.webp" alt="">
                <img class="work__item-dekstop" src="img/work3.webp" alt="">
                <span class="work__item-title">Дизайн проект</span>
                <a href="https://drive.google.com/drive/u/0/folders/13DrsT_u7h2KRPr6ohAyD5TqrHr4hXjv0" target="_blank" class="work__item-btn btn btn-white-outline">Скачать результат</a>
            </div>
            <div class="work__item">
                <img class="work__item-mob" src="img/work-mob4.webp" alt="">
                <img class="work__item-dekstop" src="img/work4.webp" alt="">
                <span class="work__item-title">Строительство</span>
                <a href="https://youtu.be/shz0OVDmL5o " target="_blank" class="work__item-btn btn btn-white-outline">Смотреть обзор</a>
            </div>
        </div>
    </div>

    <div class="work__plan">
        <div class="work__plan-left">
            <div class="work__plan-title display3">Не выходим за рамки обговоренной сметы</div>
            <div class="work__plan-desc">Общая погрешность по смете составляет не более 5%</div>
            <ul class="work__plan-list">
                <li>Предоставляем смету по стоимости работ и материалов</li>
                <li>Работы ведутся штатными специалистами</li>
                <li>Работаем с 110+ проверенными поставщиками материалов</li>
            </ul>
        </div>
        <div class="work__plan-right">
            <div class="work__plan-video">
                <video class="video" poster="img/video.webp">
                    <source src="https://disk.yandex.ru/d/At3aOqVT2-MyYA/2020-04-07/C0076.MP4" type="video/mp4" />
                </video>
                <a target="_blank" href="https://disk.yandex.ru/d/At3aOqVT2-MyYA/2020-04-07/C0076.MP4" class="playpause"></a>
            </div>
        </div>
    </div>

    <div class="work__ceo">
        <div class="work__ceo-img">
            <img src="img/ceo.webp" alt="">
        </div>
        <div class="work__ceo-text">
            <div class="work__ceo-title display3">Основатель компании ARXY лично отвечает за результат</div>
            <div class="work__ceo-desc">
                <p>Дмитрий Прасолов — основатель компании ARXY. В строительной сфере более 15 лет. Под его руководством разработаны несколько объектов Газпрому, более 130 магазинов Adidas, проекты для звезд и многое другое.</p>
                <p>Сам Дмитрий участвует на каждом этапе реализации проекта. Он будет лично встречаться с вами, отслеживать процесс внутри команды и участвовать в приёмке работ.</p>
            </div>
        </div>
    </div>
</div>