<div class='container'>
    <div class='work__top'>
        <div class="work__title display2">Работа выполняется точно в <i>срок</i></div>
        <ul class="work__list">
            <li class="work__list-item">Весь процесс декомпозирован на микрозадачи</li>
            <li class="work__list-item">Ведем свой таск-трекер для архитекторов, инженеров, дизайнеров и менеджеров</li>
            <li class="work__list-item">Ежедневно поднимаем статусы по задачам</li>
        </ul>
    </div>

    <div class="work__result">
        <div class="work__result-title">Результаты каждого этапа работ</div>
        <div class="work__result-items">
            <div class="work__item">
                <picture>
                    <source srcset="img/work-mob.webp" media="(max-width: 12000px)" />
                    <img src="img/work.webp" alt="">
                </picture>
                <span class="work__item-title">Архитектурный проект</span>
                <button class="work__item-btn btn btn-white-outline">Скачать результат</button>
            </div>
            <div class="work__item">
                <picture>
                    <source srcset="img/work-mob2.webp" media="(max-width: 12000px)" />
                    <img src="img/work2.webp" alt="">
                </picture>
                <span class="work__item-title">Инженерный проект</span>
                <button class="work__item-btn btn btn-white-outline">Скачать результат</button>
            </div>
            <div class="work__item">
                <picture>
                    <source srcset="img/work-mob3.webp" media="(max-width: 12000px)" />
                    <img src="img/work3.webp" alt="">
                </picture>
                <span class="work__item-title">Дизайн проект</span>
                <button class="work__item-btn btn btn-white-outline">Скачать результат</button>
            </div>
            <div class="work__item">
                <picture>
                    <source srcset="img/work-mob4.webp" media="(max-width: 12000px)" />
                    <img src="img/work4.webp" alt="">
                </picture>
                <span class="work__item-title">Строительство</span>
                <button class="work__item-btn btn btn-white-outline">Скачать результат</button>
            </div>
        </div>
    </div>

    <div class="work__plan">
        <div class="work__plan-left">
            <div class="work__plan-title display3">Не выходим за рамки обговоренной сметы</div>
            <div class="work__plan-desc">Общая погрешность по смете составляет не более 5%</div>
            <ul class="work__plan-list">
                <li>Предоставляем смету по стоимости работ и материалов</li>
                <li>Работы ведутся штатными специалистами</li>
                <li>Работаем с 110+ проверенными поставщиками материалов</li>
            </ul>
        </div>
        <div class="work__plan-right">
            <div class="work__plan-video">
                <video class="video" poster="img/video.webp">
                    <source src="http://e14aaeb709f7cde1ae68-a1d0a134a31b545b257b15f8a8ba5726.r70.cf3.rackcdn.com/projects/31432/1427815464209-bf74131a7528d0ea5ce8c0710f530bb5/1280x720.mp4" type="video/mp4" />
                </video>
                <div class="playpause"></div>
            </div>
        </div>
    </div>

    <div class="work__ceo">
        <div class="work__ceo-img">
            <img src="img/ceo.webp" alt="">
        </div>
        <div class="work__ceo-text">
            <div class="work__ceo-title display3">Основатель компании ARXY лично отвечает за результат</div>
            <div class="work__ceo-desc">
                <p>Дмитрий Прасолов — основатель компании ARXY. В строительной сфере более 15 лет. Под его руководством разработаны несколько объектов Газпрому, более 130 магазинов Adidas, проекты для звезд и многое другое.</p>
                <p>Сам Дмитрий участвует на каждом этапе реализации проекта. Он будет лично встречаться с вами, отслеживать процесс внутри команды и участвовать в приёмке работ.</p>
            </div>
        </div>
    </div>
</div>