@import "vars";
.header {
    padding: 36px 0 20px;
    background: #222222;
    position: sticky;
    top: 0;
    z-index: 10;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 95px;
        display: block;
        img {
            width: 100%;
        }
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__phone,
    &__email,
    &__time {
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        margin: 0 30px 0 14px;
    }
    &__email {
        margin: 0;
    }
    &__time {
        margin: 0 21px 0 0;
        opacity: 0.4;
        font-weight: 400;
    }
    &__burger {
        display: none;
    }
    &__btn {
        &-mob {
            display: none;
        }
    }
    &__socials {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .header {
        padding: 33px 0;
        &__inner {
            justify-content: flex-end;
        }
        &__right {
            position: fixed;
            top: 100px;
            left: -100%;
            background: #222222;
            width: 100%;
            height: calc(100vh - 100px);
            flex-direction: column;
            align-items: flex-start;
            padding: 10px 20px 60px;
            transition: all .225s;
            z-index: 20;
            &--active {
                left: 0;
            }
        }
        &__phone,
        &__email,
        &__time {
            font-size: 16px;
            line-height: 22px;
            margin: 0 0 13px;
        }
        &__phone {
            order: -1;
        }
        &__time {
            order: 2;
        }
        &__btn {
            order: 3;
            margin-top: auto;
            width: 100%;
            &-mob {
                display: flex;
            }
        }
        &__burger {
            width: 22px;
            height: 22px;
            background-image: url(../img/burger.svg);
            background-position: center;
            background-repeat: no-repeat;
            border-style: 100% auto;
            display: block;
            transition: all .225s;
            margin-left: 25px;
            &--active {
                background-image: url(../img/burger2.svg);
            }
        }
        &__logo {
            margin-right: auto;
        }
        &__socials {
            display: flex;
            align-items: center;
            // margin-top: 13px;
            order: 3;
            &-item {
                margin-right: 7px;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                svg {
                    width: 32px;
                    height: auto;
                }
                &--dzen {
                    background-color: #fff;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        &__logo {
            width: 70px;
        }
        &__right {
            height: calc(100vh - 90px);
            top: 90px;
        }
        &__btn {
            &-mob {
                width: 150px;
            }
        }
        &__burger {
            margin-left: 10px;
        }
    }
}